In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
def conv_to_levels(l):
    if (l <= 35):
        return 0
    elif (l <= 104):
        return 1
    return 2

def level_mean(l):
    if (l == 0):
        return 'safe'
    if (l == 1):
        return 'warning'
    return 'dangerous'

In [3]:
df = pd.read_csv('San_Diego.csv')
#df['danger_levels'] = df['enterobacteria'].apply(level_mean)
df.head()

,siteName,sampleID,date,time,nameoftester,siteID,depth,airtemp,watertemp,waveheight,currentweather,raininlast3days,tide,comments,testingtype,totalbacteria,ecolbacteria,enterobacteria
0,Campland- Mission Bay,553112672,2019-11-21,8-9 am,Jamie Owens,792,0.0,50-60,56-60,2-3,partly cloudy,yes,medium,NaN,Quantitray Sealer,NaN,NaN,10112
1,Coronado: Avenida Del Sol,553112618,2019-11-21,6-7 am,Karoly,664,12.0,60-70,56-60,3-4,light rain,yes,medium,NaN,Quantitray Sealer,NaN,NaN,41
2,Coronado: Silver Strand State Beach,553112619,2019-11-21,9-10 am,Linda,663,18.0,50-60,56-60,5-6,light rain,yes,medium,NaN,Quantitray Sealer,NaN,NaN,0
3,Dog Beach (Ocean Beach),553112673,2019-11-21,8-9 am,Hillary,847,0.0,60-70,61-65,4-5,light rain,yes,medium,NaN,Quantitray Sealer,NaN,NaN,981
4,Imperial Beach Pier,553112622,2019-11-21,1-2 pm,JH,662,6.0,60-70,56-60,3-4,partly cloudy,yes,medium,NaN,Quantitray Sealer,NaN,NaN,6131

In [4]:
df['date'] = pd.to_datetime(df.date)

In [5]:
grouped = df.groupby('siteID')

In [6]:
d_levs = pd.DataFrame()
location = []
no_rain = []
rain = []

for g in grouped:
    location.append(g[0])
    frame = g[1]
    g_grouped = frame.groupby('raininlast3days')
    for roup in g_grouped:
        roup_frame = roup[1]
        if (roup[0] == 'no'):
            no_rain.append(np.mean(roup[1].enterobacteria))
        else:
            rain.append(np.mean(roup[1].enterobacteria))
            
d_levs['location'] = location
d_levs['no_rain'] = no_rain
d_levs['rain'] = rain

d_levs = d_levs.set_index('location')

In [20]:
d_levs.to_csv('average_ent_levels.csv')

In [7]:
d_levs

            no_rain         rain
location
661       18.387755  3069.687500
662       10.098039  1506.428571
663        8.347826   230.058824
664       10.083333    39.111111
791        2.972973   116.800000
792       76.909091  1216.000000
810        3.846154   585.866667
846        8.541667   147.812500
847       32.000000   145.375000
848       13.958333    48.187500